.carrossel-container {
  background-color:#004c94;;
  color: #fff;
  padding: 3rem 2rem;
  text-align: center;
  margin: 2rem auto;
  max-width: 1900px;
  border-radius: 190px;
  margin-top: 190px;
  margin-bottom: -330px;
}

.carrossel-container h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.carrossel-container p.comercial {
  font-size: 1rem;
}

.carrossel {
  position: relative; /* Aqui é onde a mágica acontece */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.carrossel img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 44px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Setas */
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0084ff;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;
  z-index: 2;
}

.seta.esquerda {
  left: 450px;
}

.seta.direita {
  right: 450px;
}

.seta:hover {
  background-color: #002f63;
}

/* Responsivo */
@media (max-width: 768px) {
  .carrossel img {
    width: 90%;
    height: auto;
  }

  .seta {
    font-size: 1.5rem;
    padding: 0.4rem 0.8rem;
  }

  .seta.esquerda {
    left: 5px;
  }

  .seta.direita {
    right: 5px;
  }
}
